.shopping{
    width: 100%;
    height: 100%;
}
.shopping-head{
    width: 100%;
    height: 70px;
}
.shopping-main{
    width: 100%;
    display: flex;
    height: calc(100% - 70px);
    background: honeydew;
}
@media screen and (max-width: 700px) {
    .shopping-head{
        height: 50px;
    }
}